@font-face {
  font-family: "Anenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf),
    url(../assets/Font/Alternative-files/AvenirNextLTProBold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Anenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf),
    url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: Demi;
}
@font-face {
  font-family: "Anenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf),
    url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
