html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: "Anenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf), url(../assets/Font/Alternative-files/AvenirNextLTProBold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Anenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf), url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: Demi;
}
@font-face {
  font-family: "Anenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf), url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
img {
  max-width: 100%;
}

.header {
  font-family: "Anenir Next";
}
.header__nav {
  background-color: #323232;
  color: #ffffff;
  text-align: center;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    padding-left: 56px;
    padding-top: 48px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    padding-left: 136px;
    padding-top: 24px;
  }
}
.header__nav li {
  list-style-type: none;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    padding-left: 56px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu {
    font-size: 0.875rem;
  }
}
.header__menu--underline {
  text-decoration: none;
  color: #ffffff;
  padding: 16px 0;
  border-bottom: 4px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .header__menu--underline {
    padding-bottom: 36px;
    border-bottom: 2px solid #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu--underline {
    padding-bottom: 24px;
  }
}
.header__menu--a {
  text-decoration: none;
  color: #e1e1e1;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .header__menu--a {
    font-weight: 400;
  }
}
.header nav li {
  width: 50%;
}
.header__hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 68vw;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header__title {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3.75rem;
    padding-left: 16px;
    padding-top: 64px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    padding-left: 104px;
    padding-bottom: 136px;
  }
}

.musician {
  font-family: "Anenir Next";
}
.musician__title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 24px 16px 16px;
}
@media screen and (min-width: 768px) {
  .musician__title {
    font-size: 2.235rem;
    padding: 48px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .musician__title {
    padding-left: 124px;
  }
}
.musician__img {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .musician__img {
    width: 75%;
  }
}
.musician__heading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 16px 16px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .musician__heading {
    font-size: 1.5rem;
    padding: 36px 96px;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .musician__heading {
    font-weight: 600;
    padding-left: 160px;
    width: 55%;
  }
}
.musician__heading--name {
  display: block;
  padding-left: 0%;
}
@media screen and (min-width: 768px) {
  .musician__heading--name {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .musician__heading--name {
    width: 100%;
  }
}
.musician__sub-heading {
  font-weight: 600;
  padding: 0px 16px 16px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .musician__sub-heading {
    font-size: 1.5rem;
    padding-left: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .musician__sub-heading {
    padding-left: 160px;
  }
}
@media screen and (min-width: 768px) {
  .musician__side-by-side {
    display: flex;
    padding: 0px 96px;
    width: 74%;
  }
}
@media screen and (min-width: 1280px) {
  .musician__side-by-side {
    padding-left: 160px;
  }
}
.musician__left {
  padding: 16px 16px;
  line-height: 1.125rem;
  font-size: 0.812rem;
}
@media screen and (min-width: 768px) {
  .musician__left {
    padding: 0 0 36px;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.musician__right {
  padding: 16px 16px;
  line-height: 1.125rem;
  font-size: 0.812rem;
}
@media screen and (min-width: 768px) {
  .musician__right {
    padding: 0 0 36px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-left: 24px;
  }
}

.photo-gallery {
  background-color: #fafafa;
  font-family: "Anenir Next";
}
.photo-gallery__title {
  font-size: 1.5rem;
  padding: 16px 16px;
}
@media screen and (min-width: 768px) {
  .photo-gallery__title {
    padding: 48px 36px 36px;
    font-size: 2.235rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__title {
    padding-left: 124px;
  }
}
@media screen and (min-width: 768px) {
  .photo-gallery__row1, .photo-gallery__row2, .photo-gallery__row3 {
    display: flex;
    width: 29.25%;
    padding: 0 36px 24px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__row1, .photo-gallery__row2, .photo-gallery__row3 {
    padding-left: 124px;
    width: 26%;
  }
}
@media screen and (min-width: 768px) {
  .photo-gallery__row1 img:nth-child(2), .photo-gallery__row2 img:nth-child(2), .photo-gallery__row3 img:nth-child(2) {
    padding: 0 24px;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 16px;
  font-family: "Anenir Next";
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 48px 36px 36px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    align-items: baseline;
    position: relative;
  }
}
.footer__contact--title {
  padding: 16px 0;
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .footer__contact--title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--title {
    padding-left: 88px;
  }
}
.footer__contact--social {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .footer__contact--social {
    padding-left: 40px;
  }
}
.footer__contact--social img {
  padding-right: 36px;
  height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__contact--social img {
    padding-left: 32px;
    padding-right: 8px;
  }
}
.footer__contact--logo img:last-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__contact--logo img:last-child {
    display: inline;
    width: 100%;
    position: relative;
    left: 134px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--logo img:last-child {
    left: 426px;
  }
}
.footer__details {
  padding: 16px 0;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__details {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__details {
    justify-content: space-evenly;
    padding-right: 264px;
  }
}
.footer__details p {
  padding: 16px 0;
}
.footer__name span {
  display: block;
  padding-top: 0;
}
.footer__name {
  font-weight: 600;
  font-size: 0.812rem;
}
@media screen and (min-width: 768px) {
  .footer__name {
    font-size: 0.875rem;
  }
}
.footer__address {
  font-weight: 400;
  font-size: 0.812rem;
}
.footer__address span {
  display: block;
  font-weight: 400;
}
.footer__email {
  font-size: 0.812rem;
}
@media screen and (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
  }
}
.footer__country {
  font-size: 0.812rem;
}
@media screen and (min-width: 768px) {
  .footer__country {
    font-size: 0.875rem;
  }
}
.footer__country--block {
  display: block;
}
.footer__copyright p {
  font-size: 0.625rem;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__copyright p {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright p {
    padding-left: 88px;
  }
}
.footer__copyright img {
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__copyright img {
    display: none;
  }
}

.comments {
  font-family: "Anenir Next";
  padding: 24px 16px 16px;
}
@media screen and (min-width: 768px) {
  .comments__title {
    padding: 48px 8px 36px;
    font-size: 2.235rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__title {
    padding-left: 108px;
  }
}
.comments__div {
  display: flex;
  padding-top: 16px;
}
.comments__img {
  width: 2.25rem;
  height: 2.25rem;
}
.comments__img--hero {
  border-radius: 50%;
  height: 2.25rem;
}
@media screen and (min-width: 768px) {
  .comments__img--hero {
    height: 3rem;
    width: 3rem;
  }
}
.comments__submit {
  color: #ffffff;
  background-color: #323232;
  width: 13rem;
  border-radius: 10px;
  padding: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .comments__submit {
    width: 13rem;
  }
}
.comments__btn {
  padding-left: 28px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .comments__btn {
    text-align: right;
    padding-right: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__btn {
    padding-right: 104px;
    margin-left: 40%;
  }
}
.comments__img {
  border-radius: 50%;
  background-color: #e1e1e1;
}
.comments__reviewer {
  font-weight: normal;
  padding-right: 32px;
}
@media screen and (min-width: 768px) {
  .comments__reviewer {
    padding-left: 16px;
  }
}
.comments__date {
  font-weight: normal;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comments__date {
    padding-left: 43%;
  }
}
.comments__review {
  padding-left: 56px;
  font-size: 0.8125rem;
  list-style: 1.125rem;
}
@media screen and (min-width: 768px) {
  .comments__review {
    width: 75%;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
.comments__top {
  padding-left: 30px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .comments__top {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__top {
    padding-left: 40%;
  }
}
.comments__bottom {
  padding-left: 30px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .comments__bottom {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__bottom {
    padding-left: 40%;
  }
}
.comments__form {
  border-radius: 4px;
  resize: none;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .comments__form {
    padding: 15px;
    width: 90%;
  }
}
@media screen and (min-width: 1280px) {
  .comments__form {
    width: 75%;
  }
}
.comments__form--name {
  display: block;
  color: #e1e1e1;
  text-transform: uppercase;
}
.comments__form--comment {
  display: block;
  color: #e1e1e1;
  text-transform: uppercase;
  border-radius: 4px;
}

.comments-ul {
  font-family: "Anenir Next";
  padding: 16px 0;
}
.comments-ul__reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .comments-ul__reviews {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .comments-ul__reviews {
    margin-left: 40%;
  }
}/*# sourceMappingURL=styles.css.map */