@use "./partials/reset";
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

$tablet: 768px;
$desktop: 1280px;
$font-family: "Anenir Next";
$site-black: #323232;
$white: #ffffff;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
img {
  max-width: 100%;
}
.header {
  font-family: $font-family;

  &__nav {
    background-color: $site-black;
    color: $white;
    text-align: center;
    padding-top: 24px;
    @include tablet {
      display: flex;
      padding-left: 56px;
      padding-top: 48px;
      align-items: baseline;
    }
    @include desktop {
      padding-left: 136px;
      padding-top: 24px;
    }
    li {
      list-style-type: none;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    @include tablet {
      padding-left: 56px;
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 0.875rem;
    }
    &--underline {
      text-decoration: none;
      color: $white;
      padding: 16px 0;
      border-bottom: 4px solid $white;
      @include tablet {
        padding-bottom: 36px;
        border-bottom: 2px solid $white;
      }
      @include desktop {
        padding-bottom: 24px;
      }
    }
    &--a {
      text-decoration: none;
      color: $mercury;
      padding-top: 16px;
      @include tablet {
        font-weight: 400;
      }
    }
  }
  nav li {
    width: 50%;
  }
  &__hero {
    background: linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    height: 68vw;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  &__title {
    color: $white;
    font-size: 1.5rem;
    padding-top: 24px;
    @include tablet {
      font-size: 3.75rem;
      padding-left: 16px;
      padding-top: 64px;
      font-weight: 600;
    }
    @include desktop {
      padding-left: 104px;
      padding-bottom: 136px;
    }
  }
}

.musician {
  font-family: $font-family;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 24px 16px 16px;
    @include tablet {
      font-size: 2.235rem;
      padding: 48px 36px 36px;
    }
    @include desktop {
      padding-left: 124px;
    }
  }
  &__img {
    width: 90%;
    margin: 0 auto;
    @include tablet {
      width: 75%;
    }
  }
  &__heading {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 16px 16px;
    font-weight: 600;
    @include tablet {
      font-size: 1.5rem;
      padding: 36px 96px;
      line-height: 2rem;
    }
    @include desktop {
      font-weight: 600;
      padding-left: 160px;
      width: 55%;
    }

    &--name {
      display: block;
      padding-left: 0%;
      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 100%;
      }
    }
  }
  &__sub-heading {
    font-weight: 600;
    padding: 0px 16px 16px;
    font-size: 0.875rem;
    @include tablet {
      font-size: 1.5rem;
      padding-left: 96px;
    }
    @include desktop {
      padding-left: 160px;
    }
  }
  &__side-by-side {
    @include tablet {
      display: flex;
      padding: 0px 96px;
      width: 74%;
    }
    @include desktop {
      padding-left: 160px;
    }
  }
  &__left {
    padding: 16px 16px;
    line-height: 1.125rem;
    font-size: 0.812rem;
    @include tablet {
      padding: 0 0 36px;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
  &__right {
    padding: 16px 16px;
    line-height: 1.125rem;
    font-size: 0.812rem;
    @include tablet {
      padding: 0 0 36px;
      font-size: 0.875rem;
      line-height: 1.375rem;
      padding-left: 24px;
    }
  }
}
.photo-gallery {
  background-color: $alabaster;
  font-family: $font-family;

  &__title {
    font-size: 1.5rem;
    padding: 16px 16px;
    @include tablet {
      padding: 48px 36px 36px;
      font-size: 2.235rem;
    }
    @include desktop {
      padding-left: 124px;
    }
  }

  &__row1,
  &__row2,
  &__row3 {
    @include tablet {
      display: flex;
      width: 29.25%;
      padding: 0 36px 24px 24px;
    }
    @include desktop {
      padding-left: 124px;
      width: 26%;
    }
  }
  &__row1 img:nth-child(2),
  &__row2 img:nth-child(2),
  &__row3 img:nth-child(2) {
    @include tablet {
      padding: 0 24px;
    }
  }
}

.footer {
  background-color: $site-black;
  color: $white;
  padding: 16px;
  font-family: $font-family;
  @include tablet {
    padding: 48px 36px 36px;
  }

  &__contact {
    @include tablet {
      display: flex;
      align-items: baseline;
      position: relative;
    }
    &--title {
      padding: 16px 0;
      font-size: 1.5rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.5rem;
        font-weight: 600;
      }
      @include desktop {
        padding-left: 88px;
      }
    }
    &--social {
      display: flex;
      @include desktop {
        padding-left: 40px;
      }
    }
    &--social img {
      padding-right: 36px;
      height: 1.5rem;
      @include tablet {
        padding-left: 32px;
        padding-right: 8px;
      }
    }
    &--logo img:last-child {
      display: none;
      @include tablet {
        display: inline;
        width: 100%;
        position: relative;
        left: 134px;
      }
      @include desktop {
        left: 426px;
      }
    }
  }

  &__details {
    padding: 16px 0;
    line-height: 1.125rem;
    @include tablet {
      font-size: 0.875rem;
      display: flex;
      justify-content: space-between;
      padding-bottom: 48px;
    }
    @include desktop {
      justify-content: space-evenly;
      padding-right: 264px;
    }
  }

  &__details p {
    padding: 16px 0;
  }
  &__name span {
    display: block;
    padding-top: 0;
  }
  &__name {
    font-weight: 600;
    font-size: 0.812rem;
    @include tablet {
      font-size: 0.875rem;
    }
  }
  &__address {
    font-weight: 400;
    font-size: 0.812rem;
  }
  &__address span {
    display: block;
    font-weight: 400;
  }
  &__email {
    font-size: 0.812rem;
    @include tablet {
      font-size: 0.875rem;
    }
  }
  &__country {
    font-size: 0.812rem;
    @include tablet {
      font-size: 0.875rem;
    }

    &--block {
      display: block;
    }
  }

  &__copyright p {
    font-size: 0.625rem;
    padding-bottom: 16px;
    @include tablet {
      font-size: 0.875rem;
    }
    @include desktop {
      padding-left: 88px;
    }
  }
  &__copyright img {
    padding-bottom: 16px;
    @include tablet {
      display: none;
    }
  }
}

.comments {
  font-family: $font-family;
  padding: 24px 16px 16px;

  &__title {
    @include tablet {
      padding: 48px 8px 36px;
      font-size: 2.235rem;
    }
    @include desktop {
      padding-left: 108px;
    }
  }
  &__div {
    display: flex;
    padding-top: 16px;
  }

  &__img {
    width: 2.25rem;
    height: 2.25rem;

    &--hero {
      border-radius: 50%;
      height: 2.25rem;
      @include tablet {
        height: 3rem;
        width: 3rem;
      }
    }
  }
  &__submit {
    color: $white;
    background-color: $site-black;
    width: 13rem;
    border-radius: 10px;
    padding: 14px;
    text-transform: uppercase;
    @include tablet {
      width: 13rem;
    }
  }
  &__btn {
    padding-left: 28px;
    padding-bottom: 16px;
    border-bottom: 1px solid $mercury;
    @include tablet {
      text-align: right;
      padding-right: 28px;
    }
    @include desktop {
      padding-right: 104px;
      margin-left: 40%;
    }
  }
  &__img {
    border-radius: 50%;
    background-color: $mercury;
  }
  &__reviewer {
    font-weight: normal;
    padding-right: 32px;
    @include tablet {
      padding-left: 16px;
    }
  }
  &__date {
    font-weight: normal;
    color: #e1e1e1;
    @include tablet {
      padding-left: 43%;
    }
  }
  &__review {
    padding-left: 56px;
    font-size: 0.8125rem;
    list-style: 1.125rem;
    @include tablet {
      width: 75%;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }
  &__top {
    padding-left: 30px;
    padding-bottom: 16px;
    @include tablet {
      padding-left: 40px;
    }
    @include desktop {
      padding-left: 40%;
    }
  }
  &__bottom {
    padding-left: 30px;
    padding-bottom: 16px;
    @include tablet {
      padding-left: 40px;
    }
    @include desktop {
      padding-left: 40%;
    }
  }
  &__form {
    border-radius: 4px;
    resize: none;
    width: 90%;
    @include tablet {
      padding: 15px;
      width: 90%;
    }
    @include desktop {
      width: 75%;
    }
    &--name {
      display: block;
      color: $mercury;
      text-transform: uppercase;
    }
    &--comment {
      display: block;
      color: $mercury;
      text-transform: uppercase;
      border-radius: 4px;
    }
  }
}

.comments-ul {
  font-family: $font-family;
  padding: 16px 0;

  &__reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid $mercury;
    padding: 16px 0;
    @include tablet {
      justify-content: flex-start;
    }
    @include desktop {
      margin-left: 40%;
    }
  }
}
